

p, h1 {
    font-family: "Garet";
}

body{
    margin: 0px;
    display: block;
    height: 5450px;
}

#myHeader {
    height: 950px;
    background-color: #2b38af;
    margin: 0px;
    display: grid;
    justify-content: center;
    border-bottom: 2px solid rgb(165, 165, 165);

}

#myPortfolio, #welcome, #hello {
    text-align: center;
    margin-top: 0;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#hello
{
    margin: 0;
    margin-top: 0px;
    font-size: 40px;
    width: 1347px;
    padding-top: 300px;
}

#myPortfolio{
    margin-bottom: 0;
    font-size: 100px;
    height: 100px;
}

#welcome
{
    margin-top: 0px;
    font-size: 40px;
}



#navBar {
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    background-color: #383838;
    height: 100px;
    box-shadow: 0px 1px 1px rgb(165, 165, 165);
    width: 100vw;
}

#home, #about, #skill, #contact, #education, #experience {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    color: white;
    width: 130px;
    background-color: rgb(24, 24, 24);
    border-radius: 7.5px;
    border: none;
    cursor: pointer;
    padding: 0;
}


.front 
{
    display: block;
    background: rgb(87, 87, 87);
    margin: 0;
    padding: 17px 31px;
    border-radius: 7.5px;
    transform: translateY(-7px);
    transition: 0.1s;
    border: 1.5px solid black;
}

#myContent{
    height: 4500px;
    margin-top: 0;
}

#bottomContent {
    height: 50px;
    background-color: black;
    display: grid;
    margin: 0;
}

#copyrightContent {
    color: white;
    text-align: center;
}

.comingSoon
{
    color: black;
    text-align: center;
    font-style: verdana;
    margin: 0;
}

#myAbout, #mySkill, #myEducation, #myExperience, #myContact
{
    height: 850px;
    margin: 0;
}

#myAbout
{
    background-color: #0e1217;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(165, 165, 165);
}

#leftConatinerAbout
{
    display: grid;
}

#imageContainerAbout
{
    height: 500px;
    width: 500px;
    background-color: #1c1f26;
    border: 0.5px solid gray;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    border-radius: 25px;
    margin-top: 50px;
    display: grid;
}

#myImage
{
    height: 500px;
}

#aboutDescription
{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 945px;
    height: 754px;
    background-color: #1c1f26;
    border: 0.5px solid gray;
    border-radius: 25px;
    margin-right: 100px;
}

#imageDescription
{
    height: 200px;
    width: 490px;
    background-color: #1c1f26;
    border: 0.5px solid gray;
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 50px;
    display: grid;
}

.title
{
    text-align: center;
    color: white;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.textLable, .textSymbole, .textValue
{
    color: white;
    font-size: 23px;
    font-family: verdana;
}

.textLable
{
    width: 150px;
}

.textValue
{
    font-weight: bold;
}


.info
{
    width: 500px;
    padding-top: 20px;
    padding-left: 10px;
}

/* VIEW PRORT */

/* @media screen and (max-width: 360px)
{
    body{
        margin: 0px;
        display: block;
        width: 360px;
    }

    #navBar {
        width: 360px;
        position: fixed;
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        background-color: #383838;
        height: 100px;
        box-shadow: 0px 1px 3px;
    }

    #myHeader {
        height: 1000px;
        background-color: #2baf2b;
        margin: 0px;
        width: 360px;
    }

    #myPortfolio{
        margin-bottom: 0;
        font-size: 60px;
        line-height: 1000px;
    }
    
    #welcome
    {
        margin-top: 0px;
        font-size: 40px;
        line-height: 1200px;
    }

} */

/* Function And Animation */

html {
    scroll-behavior: smooth;
}


button:hover .front {
    transform: translateY(-5px);
}

button:active .front{
    transform: translateY(0px);
}
